<h1>All Events</h1>

<h3>Upcoming Events</h3>
<ul>
	<% @upcoming_events.each do |event| %>
		<li><%= link_to event.title, event %> @ <%= event.location %></li>
	<% end %>
</ul>


<h3>Past Events</h3>
<ul>
	<% @previous_events.each do |event| %>
		<li><%= link_to event.title, event %> @ <%= event.location %></li>
	<% end %>
</ul>